@model WenBenhVienNhietDoi.Models.ListMenuModels
@{
    ViewBag.Title = "Index";
}
    <div class="headermenu wow fadeIn" data-wow-delay="0.2s" style="    border-top: 4px solid rgb(181, 179, 179);  background-color: #2096db; ">
        <div class="container">
            <div class="navbar" role="navigation">
                @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>*@
                <div class="navbar-collapse collapse">
                    <ul id="main-menu" class="sm sm-blue">
                        <li class='<%= getCss("0")%>'>
                            <a href="" title="TRANG CHỦ">TRANG CHỦ</a>
                        </li>
                        @foreach (var itemparent in Model.ListParentMenu)
                        {
                            if (@itemparent.CapMenu == 0)
                            {
                                <li>
                                    <a href=" @itemparent.Linkurl" title="@itemparent.TenMenu" class="has-submenu">@itemparent.TenMenu</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.ListMenu)
                                        {
                                            if (@item.IdCha == @itemparent.Id)
                                            {
                                                <li><a href=" @item.Linkurl" title="@item.TenMenu">@item.TenMenu</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }

                        }                       
                        @*<li class="  dropdown">
                            <a href="#" title="Thư viện" class="has-submenu"><span class="sub-arrow">+</span>Thư viện</a>
                            <ul class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 0px; margin-top: 0px;">

                                <li>
                                    <a href="cate-album-anh.html" title="Thư viện ảnh">Thư viện ảnh</a>
                                </li>
                                <li>
                                    <a href="cate-video.html" title="Videos">Videos</a>
                                </li>
                            </ul>
                        </li>*@


                        <li class="">
                            <a href=" " target="_blank" title="Liên hệ">Liên hệ</a>
                        </li>

                        @*<li class="" style="float: right; padding-top: 2px;">

                            <div class="" style="display: none; float: right; padding-top: 6px; color: #ffffff; font-weight: bold">

                                <asp:Button ID="butimkiemnew" runat="server" OnClick="butimkiemnew_Click" Text="Button" />

                            </div>
                            <div class="" style="float: right; padding-top: 3px">
                                <asp:TextBox ID="txtkeynew" runat="server" Width="200px" Height="40px" CssClass="form-control" placeholder="Từ khóa..." autocomplete="off"></asp:TextBox>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section block-8" style="margin: 0; padding: 0;">
        <div class="slideshow-container">
            <div class="mySlides fades" style="display: none;">
                <a href="http://test.vn/">
                    <div class="numbertext">1 / 5</div>
                    <img src="./Images/155905918.jpg" style="width:100%" title="Dự án xây dựng bệnh viện nhiệt đới trung ương">
                    <div class="text">@*Dự án xây dựng bệnh viện nhiệt đới trung ương*@</div>
                </a>
            </div>
            <div class="mySlides fades" style="display: block;">
                <a href="http://www.benhnhietdoi.vn/tin-tuc/chi-tiet/le-cong-bo-quyet-dinh-bo-nhiem-giam-doc-va-pho-giam-doc-phu-trach-kinh-te-benh-vien-benh-nhiet-doi-trung-uong/901">
                    <div class="numbertext">2 / 5</div>
                    <img src="../Images/094126661.jpg" style="width:100%" title="LỄ CÔNG BỐ QUYẾT ĐỊNH BỔ NHIỆM GIÁM ĐỐC VÀ PHÓ GIÁM ĐỐC PHỤ TRÁCH KINH TẾ BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG">
                    @*<div class="text">LỄ CÔNG BỐ QUYẾT ĐỊNH BỔ NHIỆM GIÁM ĐỐC VÀ PHÓ GIÁM ĐỐC PHỤ TRÁCH KINH TẾ BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG</div>*@
                </a>
            </div>
            <div class="mySlides fades" style="display: none;">
                <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/pho-chu-tich-nuoc-dang-thi-ngoc-thinh-trao-tang-huan-chuong-lao-dong-hang-3-cho-benh-vien-benh-nhiet-doi-trung-uong/941">
                    <div class="numbertext">3 / 5</div>
                    <img src="../Images/093840021.jpg" style="width:100%" title="PHÓ CHỦ TỊCH NƯỚC ĐẶNG THỊ NGỌC THỊNH TRAO TẶNG HUÂN CHƯƠNG LAO ĐỘNG HẠNG 3 CHO BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG">
                    <div class="text">@*PHÓ CHỦ TỊCH NƯỚC ĐẶNG THỊ NGỌC THỊNH TRAO TẶNG HUÂN CHƯƠNG LAO ĐỘNG HẠNG 3 CHO BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG*@</div>
                </a>
            </div>
            <div class="mySlides fades" style="display: none;">
                <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/benh-vien-benh-nhiet-doi-trung-uong-bao-cao-thanh-tich-dien-hinh-tien-tien-voi-chu-tich-quoc-hoi-nguyen-thi-kim-ngan-truoc-them-dai-hoi-thi-dua-yeu-nuoc-toan-quoc-nam-2020/998">
                    <div class="numbertext">4 / 5</div>
                    <img src="../Images/134543592.jpg" style="width:100%" title="BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG BÁO CÁO THÀNH TÍCH ĐIỂN HÌNH TIÊN TIẾN VỚI CHỦ TỊCH QUỐC HỘI NGUYỄN THỊ KIM NGÂN TRƯỚC THỀM ĐẠI HỘI THI ĐUA YÊU NƯỚC TOÀN QUỐC NĂM 2020">
                    <div class="text">@*BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG BÁO CÁO THÀNH TÍCH ĐIỂN HÌNH TIÊN TIẾN VỚI CHỦ TỊCH QUỐC HỘI NGUYỄN THỊ KIM NGÂN TRƯỚC THỀM ĐẠI HỘI THI ĐUA YÊU NƯỚC TOÀN QUỐC NĂM 2020*@</div>
                </a>
            </div>
            <div class="mySlides fades" style="display: none;">
                <a href="http://www.benhnhietdoi.vn/tin-tuc/chi-tiet/le-ky-ket-hop-tac/906">
                    <div class="numbertext">5 / 5</div>
                    <img src="../Images/094554130.jpg" style="width:100%" title="LỄ KÝ KẾT HỢP TÁC">
                    @*<div class="text">LỄ KÝ KẾT HỢP TÁC</div>*@
                </a>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <div style="text-align:center; margin-top: -30px;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot active" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>

        </div>

        <script type="text/javascript">
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 5000); // Change image every 2 seconds
            }
        </script>
    </div>
    <div class="site-blocks-cover site-blocks-1 bg-light" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="row" style="width:100%; padding: 2px; margin-left:0px;">
                        <!--LEFT-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:10px 10px 10px 0px;">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">

                                    <div class="item active">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/thong-bao-ve-viec-hoan-buoi-gap-mat-can-bo-huu-tri-nam-2021/1007"><img src="../Images/192516180.jpg" alt="THÔNG BÁO VỀ VIỆC HOÃN BUỔI GẶP MẶT CÁN BỘ HƯU TRÍ NĂM 2021" style="width:100%; height: 235px; padding-bottom:10px;"></a>
                                        <div class="titleTranblock">
                                            <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/thong-bao-ve-viec-hoan-buoi-gap-mat-can-bo-huu-tri-nam-2021/1007" title="#" style="font-size: 16px;">THÔNG BÁO VỀ VIỆC HOÃN BUỔI GẶP MẶT CÁN BỘ HƯU TRÍ NĂM 2021</a>
                                        </div>
                                        <div class="title-time">
                                            <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                            01/02/2021 19:25&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                            <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                            <span id="idView">68</span>
                                        </div>
                                        <p style="text-align:justify;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 news-row" style="margin-top:10px; padding: 0;">
                            <div class="news-hot-home">
                                <div style="float: left; z-index: 2;">
                                    <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/hoi-nghi-can-bo-vien-chuc-nguoi-lao-dong-nam-2020-va-phuong-huong-nhiem-vu-nam-2021/1003">
                                        <img src="../Images/133033512.jpg" alt="HỘI NGHỊ CÁN BỘ VIÊN CHỨC, NGƯỜI LAO ĐỘNG NĂM 2020 VÀ PHƯƠNG HƯỚNG NHIỆM VỤ NĂM 2021" style="width:120px; height:80px;">
                                    </a>
                                </div>
                                <div style="padding-left:135px;">
                                    <div class="titleTranblock">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/hoi-nghi-can-bo-vien-chuc-nguoi-lao-dong-nam-2020-va-phuong-huong-nhiem-vu-nam-2021/1003">HỘI NGHỊ CÁN BỘ VIÊN CHỨC, NGƯỜI LAO ĐỘNG NĂM 2020...</a>
                                    </div>
                                    <div class="line-time"></div>
                                    <div class="title-time">
                                        <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                        13/01/2021 13:30&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                        <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                        <span id="idView">411</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-hot-home">
                                <div style="float: left; z-index: 2;">
                                    <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/thong-bao-lich-lam-viec-cua-khoa-kham-benh-theo-yeu-cau-va-tiem-chung-vac-xin/1001">
                                        <img src="../Images/151055694.png" alt="THÔNG BÁO LỊCH LÀM VIỆC CỦA KHOA KHÁM BỆNH THEO YÊU CẦU VÀ TIÊM CHỦNG VẮC XIN" style="width:120px; height:80px;">
                                    </a>
                                </div>
                                <div style="padding-left:135px;">
                                    <div class="titleTranblock">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/thong-bao-lich-lam-viec-cua-khoa-kham-benh-theo-yeu-cau-va-tiem-chung-vac-xin/1001">THÔNG BÁO LỊCH LÀM VIỆC CỦA KHOA KHÁM BỆNH THEO...</a>
                                    </div>
                                    <div class="line-time"></div>
                                    <div class="title-time">
                                        <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                        29/12/2020 15:10&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                        <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                        <span id="idView">474</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-hot-home">
                                <div style="float: left; z-index: 2;">
                                    <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/dai-dien-benh-vien-benh-nhiet-doi-trung-uong-tham-du-dai-hoi-thi-dua-yeu-nuoc-toan-quoc/999">
                                        <img src="../Images/141524490.jpg" alt="ĐẠI DIỆN BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG THAM DỰ ĐẠI HỘI THI ĐUA YÊU NƯỚC TOÀN QUỐC" style="width:120px; height:80px;">
                                    </a>
                                </div>
                                <div style="padding-left:135px;">
                                    <div class="titleTranblock">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/dai-dien-benh-vien-benh-nhiet-doi-trung-uong-tham-du-dai-hoi-thi-dua-yeu-nuoc-toan-quoc/999">ĐẠI DIỆN BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG THAM...</a>
                                    </div>
                                    <div class="line-time"></div>
                                    <div class="title-time">
                                        <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                        11/12/2020 14:15&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                        <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                        <span id="idView">450</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-hot-home">
                                <div style="float: left; z-index: 2;">
                                    <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/benh-vien-benh-nhiet-doi-trung-uong-bao-cao-thanh-tich-dien-hinh-tien-tien-voi-chu-tich-quoc-hoi-nguyen-thi-kim-ngan-truoc-them-dai-hoi-thi-dua-yeu-nuoc-toan-quoc-nam-2020/998">
                                        <img src="../Images/083203978.jpg" alt="BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG BÁO CÁO THÀNH TÍCH ĐIỂN HÌNH TIÊN TIẾN VỚI CHỦ TỊCH QUỐC HỘI NGUYỄN THỊ KIM NGÂN TRƯỚC THỀM ĐẠI HỘI THI ĐUA YÊU NƯỚC TOÀN QUỐC NĂM 2020" style="width:120px; height:80px;">
                                    </a>
                                </div>
                                <div style="padding-left:135px;">
                                    <div class="titleTranblock">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/benh-vien-benh-nhiet-doi-trung-uong-bao-cao-thanh-tich-dien-hinh-tien-tien-voi-chu-tich-quoc-hoi-nguyen-thi-kim-ngan-truoc-them-dai-hoi-thi-dua-yeu-nuoc-toan-quoc-nam-2020/998">BỆNH VIỆN BỆNH NHIỆT ĐỚI TRUNG ƯƠNG BÁO CÁO THÀNH...</a>
                                    </div>
                                    <div class="line-time"></div>
                                    <div class="title-time">
                                        <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                        10/12/2020 08:31&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                        <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                        <span id="idView">640</span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-hot-home">
                                <div style="float: left; z-index: 2;">
                                    <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/khai-truong-don-vi-kham-chua-benh-theo-yeu-cau-va-tiem-chung-vac-xin/996">
                                        <img src="../Images/101115408.jpg" alt="KHAI TRƯƠNG ĐƠN VỊ KHÁM CHỮA BỆNH THEO YÊU CẦU VÀ TIÊM CHỦNG VẮC XIN" style="width:120px; height:80px;">
                                    </a>
                                </div>
                                <div style="padding-left:135px;">
                                    <div class="titleTranblock">
                                        <a href="http://benhnhietdoi.vn/tin-tuc/chi-tiet/khai-truong-don-vi-kham-chua-benh-theo-yeu-cau-va-tiem-chung-vac-xin/996">KHAI TRƯƠNG ĐƠN VỊ KHÁM CHỮA BỆNH THEO YÊU CẦU VÀ...</a>
                                    </div>
                                    <div class="line-time"></div>
                                    <div class="title-time">
                                        <i class="icon icon-calendar" style="color:red; padding:0; font-size: 14px;"></i>
                                        07/12/2020 10:11&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-heart-o" style="color:red; padding:0; font-size: 14px; cursor: pointer;" onclick="jsNews_Update_Like();"></i>
                                        <span id="idLike"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="icon icon-eye" style="color:red; padding:0; font-size: 14px;"></i>
                                        <span id="idView">603</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">


                    <div id="cpos_7" style="width: 100%; padding: 0px;">
                        <div class="box_c box_c_1" style="margin: 0;">
                            <div class="box_header">
                                <div class="left">
                                    <div class="right">
                                        <div class="center"><h3>Đăng ký tư vấn</h3></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_body">
                                <div class="contact_c regbox-c">
                                    <div class="form">
                                        <p><a class="btn btn--orange btnDangKyOnline" href="http://benhnhietdoi.vn/dang-ky-kham"><span class="icon-list-ol"></span>&nbsp;&nbsp;ĐẶT LỊCH KHÁM</a></p>
                                        <p><a class="btn btn--red btnDangKyOnline" href="http://benhnhietdoi.vn/Account/Members"><span class="icon-heart"></span>&nbsp;&nbsp;TRANG BỆNH NHÂN</a></p>

                                        <p><a class="btn btn--yellow btnDangKyOnline" href="http://benhnhietdoi.vn/tin-tuc/lich-hoi-thao/12"><span class="icon-calendar"></span>&nbsp;&nbsp;LỊCH HỘI THẢO</a></p>
                                        <p><a class="btn btn--green btnDangKyOnline" href="http://benhnhietdoi.vn/tin-tuc/thong-tin-uu-dai/13"><span class="icon-bullhorn"></span>&nbsp;&nbsp;THÔNG TIN ƯU ĐÃI</a></p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="box_footer"><div class="left"><div class="right"><div class="center"></div></div></div></div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
